:root {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}

form {
    min-width: 350px;
    width: 400px;
    font-weight: 700;
}
form span {
    display: inline-block;
    width: 80px;
    margin-bottom: 5px;
}
form>fieldset {
    border: 1px solid gray;
    margin: 25px;
    background-color: rgba(243, 243, 189, 0.459);
}
form fieldset fieldset {
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgb(119, 119, 175);
    box-shadow: 1px 2px 3px 1px #000000 ;
}
select {
    color: blue;
    background-color: rgb(248, 247, 247);
}
select option {
    font-size: 50px;
    font-weight: 900;
}
textarea {
    background-color: burlywood;
}
form legend {
    text-align: right;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(218, 183, 253);
}
form input:required {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(236, 192, 192);
}
.contact input:valid {
    border: 1px solid rgb(81, 247, 89);
    background-color: chartreuse;
}
form>fieldset fieldset:nth-last-child(1) {
    height: 70px;
}
form>fieldset fieldset:nth-last-child(1) button {
    height: 25px;
    width: 130px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;  
    box-shadow: 1px 1px black;
}
form>fieldset fieldset:nth-last-child(1) button:hover {
    box-shadow: 0px 0px black;
}
form>fieldset fieldset:nth-last-child(1) button:active {
    box-shadow:1px 2px 1px 1px #7e7e7e inset;
}
.check div label {
    margin-left: 10px;
}
.check div label:hover {
    text-shadow: 0.02em 0.02em 1em blue;
}
.check input {
    display: none;
}
.check label::before {
    content: " ";
    border: 1px solid black;
    height: 1.1em;
    width: 1.1em;
    margin-right: 5px;
    display: inline-block;
    background-color: #999;
    vertical-align: top;
}
.check input:checked+label::before {
    font-style: italic;
    content: "\2713";
    color: rgb(250, 251, 255);
    line-height: 1.1em;
}

