table {
    width: 400px;
    text-align: center;
}
.red .hex {
    background-color: #ff0000;
    color: royalblue;
}
.red .rgb {
    background-color: rgb(255, 0, 0);
    color: royalblue;
}
.red .hsl {
    background-color: hsl(0, 100%, 50%);
    color: royalblue;
}
.red .alpha {
    background-color: hsla(0, 100%, 50%, 0.5);
    color: royalblue;
}
.orange .rgb {
    background-color: rgb(255, 165, 0);
    color: blue;
}
.orange .hex {
    background-color: #ffa500;
    color: blue;
}
.orange .hsl {
    background-color: hsl(39, 100%, 50%);
    color: blue;
}
.orange .alpha {
    background-color: hsla(39, 100%, 50%, 0.5);
    color: blue;
}
.yellow .rgb {
    background-color: rgb(255, 255, 0);
    color: blue;
}
.yellow .hex {
    background-color: #ffff00;
    color: blue;
}
.yellow .hsl {
    background-color: hsla(60, 100%, 50%);
    color: blue;
}
.yellow .alpha {
    background-color: hsla(60, 100%, 50%, 0.5);
    color: blue;
}
.green .rgb {
    background-color: rgb(0, 128, 0);
    color: blue;
}
.green .hex {
    background-color: #008000;
    color: blue;
}
.green .hsl {
    background-color: hsl(120, 100%, 25%);
    color: blue;
}
.green .alpha {
    background-color: hsla(120, 100%, 25%, 0.5);
    color: blue;
}
.cyan .rgb {
    background-color: rgb(0, 255, 255);
    color: blue;
}
.cyan .hex {
    background-color: #00ffff;
    color: blue;
}
.cyan .hsl {
    background-color: hsl(180, 100%, 50%);
    color: blue;
}
.cyan .alpha {
    background-color: hsla(180, 100%, 50%, 0.5);
    color: blue;
}
.blue .rgb {
    background-color: rgb(0, 0, 255);
    color: rgb(0, 0, 0);
}
.blue .hex {
    background-color: #0000ff;
    color: rgb(0, 0, 0);
}
.blue .hsl {
    background-color: hsl(240, 100%, 50%);
    color: rgb(0, 0, 0);
}
.blue .alpha {
    background-color: hsl(240, 100%, 50%, 0.5);
    color: rgb(0, 0, 0);
}
.violet .rgb {
    background-color: rgb(238, 130, 238);
    color: blue;
}
.violet .hex {
    background-color: #ee82ee;
    color: blue;
}
.violet .hsl {
    background-color: hsl(300, 76%, 72%);
    color: blue;
}
.violet .alpha{
    background-color: hsl(300, 76%, 72%,0.5);
    color: blue;
}