/* Подключаемый шрифт */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'roboto_light_italic';
    src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
/*размер шрифтов */

html {
    font-size: 10px;
}
body {
    font-size: 150%;
}


/* Панель */
.panel {
    background-color: #ddd;
    padding: 0.5em;
    border: 1px solid #aaa;
    /* font-size: 2rem; */
    margin-bottom: 0.5em;
    font-family: 'robotobold_italic', sans-serif;
}
.panel>h3 {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive; 
    font-weight: 700;
}
.credits {
    font-family: 'roboto_light_italic', sans-serif;
}
.bold {
    font-family: 'robotobold', sans-serif;
    font-size: 24px;
}
.normal {
    font-family: 'roboto_regular', sans-serif;
    font-size: 3rem;
}