:root {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


fieldset {
    width: 600px;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
    margin: 20px;
    background-color: antiquewhite;
}
legend {
    background-color: rgb(255, 215, 163);
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    color: red;
}

textarea, select, input[type="text"] {
    display: block;
    margin: 20px;
    font-size: 2rem;
    width: 500px;
    color: green;
    border: 2px solid green;
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
    text-transform: uppercase;
}
option {
    font-weight: bold;
    color: blue;
}

p {
    text-shadow: 3px 3px 5px red,
     0 0 1em blue,
     0 0 0.2em blue;
    margin: 30px;
    text-transform: uppercase;
    font-size: 2em;
}

button, a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border: 1px solid red;
    background-color: bisque;
    color: brown;
    border-radius: 5px;
    box-shadow: 1px 1px 3px red,
              inset 0 0 10px -1px;
    text-shadow: 0 2px 2px white;
    cursor: pointer;
    border-bottom: 2px solid red;
    outline: none;
}
button:hover, a:hover {
    background-color: antiquewhite;
}
button:active, a:active {
    box-shadow: -1px -1px 3px red,
        inset 0 0 10px -1px brown;
    border-bottom: 1px solid red;
}


/* checkbox */
.checkbox-slider {
    display: inline-block;
    overflow: hidden;
    width: 1.3em;
    border-radius: 1.3em;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 1em;
}
.checkbox-slider input {
    display: none;
}

.checkbox-slider label {
    border: 0.05em solid #999;
    border-radius: 1.2em;
    cursor: pointer;
    display: block;
}
.checkbox-slider label::before {
    content: " ";
    margin-left: -1px;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    display: block;
    background-color: #999;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}
.checkbox-slider input:checked+label {
    border-color: #00c292;
}
/* .checkbox-slider input:checked+label::before {
    background-color: #00c292;
    margin-left: 0.6em;
} */

