:root {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul, ol {
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

ul {
    list-style: url(../img/star.png) inside;
    /* list-style-type: none; */
    counter-reset: ul-list;
}
ul li {
    /* display: inline; */
    border-left: 2px solid black;
    padding: 3px;
    background-color: rosybrown;
    display: inline-block;
    /* list-style-position: inside; */
}
ul li::after {

    counter-increment: ul-list;
    content: " " counter(ul-list);
}
h3 {
    /* display: list-item; */
    margin-left: 2em;
}

h3::before, h3::after {
    content: " ! " url(../img/star.png) " ! ";
    color: red;
}

ol {
    list-style: none;
    counter-reset: list;
}
ol li::before {
    margin-right: .1em;
    counter-increment: list;

    content: counters(list, ".", lower-alpha) "." url(../img/star.png);
    color: blue;
}



ul {
    counter-reset: ul-list;
}
ul li {
    counter-increment: ul-list;
}
ul li::after {
    content: " " counter(ul-list);
}