:root {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

table {
    width: 400px;
    height: 300px;
    border: 2px solid red;
    margin: 20px;
    border-spacing: 4px;
    background-color: beige;
    /* border-collapse: collapse; */
    empty-cells: hide;
}
tr {
    /* background-color: aquamarine; */
}
td, th {
    border: 2px solid blue;
    text-align: center;
    vertical-align: top;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: burlywood;
}
td:last-child, th:last-child {
    background-color: aquamarine;
}
tr:hover td {
    background-color: crimson;
}

.elements {
    display: table;
    margin: 20px;
    border: 2px solid red;
    width: 400px;
    height: 200px;
    border-spacing: 4px;
}
.elements div {
    display: table-cell;
    border: 2px solid blue;
    text-align: center;
}
.elements>div:first-child {
    vertical-align: baseline;
}
.elements>div:nth-child(2) {
    vertical-align: top;
}
.elements>div:nth-child(3) {
    vertical-align: middle;
}
.elements>div:last-child {
    vertical-align: bottom;
}

.elements div {
    background-color: aqua;
}
.elements div:nth-last-child(-n+2) {
    background-color: cornflowerblue;
}
.elements div:hover {
    background-color: brown;
}
.elements div:nth-last-child(-n+2):hover {
    background-color: red;
}