:root {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    font-size: 2em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    counter-reset: lmenu;
}

.container {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}
.menu-nav {
    border-top: 2px dashed brown;
    border-bottom: 2px dashed brown;
}
.menu-nav-ul {
    margin: 5px 0px;
    /* display: inline-flex; */
    list-style: none;
}
.menu-nav-ul>li {
    display: inline-block;
    margin-left: 7px;
    border-left: 2px solid red;
}
.menu-nav-ul>li:hover {
    cursor: pointer;
    background-color: rgba(255, 99, 71, 0.466);
}
.menu-left {
    color: blue;
    font-size: .9em;
    margin-left: 10px;
}
.menu-left-ol {
    display: line;
    list-style: none;
}
.class::before {
    counter-increment: lmenu;
    content: counter(lmenu) " ";
    background-color: darkblue;
    color: white;
    border-left: 4px solid rgb(173, 39, 39);
    border-radius: 15%;
    margin-right: 3px;
}
.class:hover::before {
    background-color: salmon;
}

span {  
    display: inline-block;
    margin: 3px 0px;
    background-color: rgba(54, 54, 136, 0.425);
    width: 250px;
}
span:hover::after{
    content: url(/3.12/img/star.png);
}
span:hover {
    background-color: cadetblue;
    cursor: pointer;
}
header {
    height: 60px;
    font-size: 1.5em;
    text-align: justify;
}
main {
    min-height: 100vh;
    padding-bottom: 50px;
    margin-top: -60px;
    padding-top: 60px;
}
footer {
    border-top: 2px dashed brown;
    margin-top: -50px;
    height: 50px;
}